<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <title>Aplicação com exemplos de mapas</title>
   <!-- CSS only -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
  <div class="list-group" style="width: 300px; padding: 20px;">
      <a href="/simples" class="list-group-item list-group-item-action">Mapa com Pontos</a>
      <a href="/dialogos" class="list-group-item list-group-item-action">Mapa com Pontos e Dialogos</a>
      <a href="/figuras" class="list-group-item list-group-item-action">Mapa com Círculos e Polígonos</a>
  </div>
</body>
</html>
